@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px){
  .home-banner .container{  
    height: 60vh;
  }
}

.overflow-x-auto::-webkit-scrollbar{
  display: none;
}
@media only screen and (max-width: 768px){
  .to-the-bottom{
    position: absolute;
    z-index: 10;
    bottom: 24px;
  }
}